.button {
    padding: .5rem 2rem;
    background-color:rgb(21, 112, 224);
    width: fit-content;
    color: white;
    border-radius: 1.5rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;    
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
    transition-duration: 150ms;
    cursor: pointer;
    font-size: 14px;
    
}

.button:hover{
    background-color: rgb(17, 90, 180);
}

